body{
    background:#719192 ;
    font-family: 'poppins', sans-serif;
}

#main-header{
    background:#3c4245;
    color:#dfcdc3; 
    padding: 10px;
    text-align: center;
}

#main-navbar{
    background: #5f6769;
    color:#dfcdc3;
    text-align: center;
    padding: 3px;
    margin-bottom: 30px;
}

#main-navbar a{
    text-decoration: none;
    color: #dfcdc3;
    font-size: 18px;
    transition: font-size 0.3s ease;
}

#main-navbar a:hover{
    font-size: 19px;
    color: #ffffff;
}

#main-navbar li{
    list-style: none;
    display: inline;
    padding-right: 10px;
}

#addToCartBtn{
    background: #5f6769;
    color: #fff;
    border-radius: 50%;
    border: none;
    padding: 10px;
}

#about{
    margin: 30px auto;
}
#about h2{    
    text-align: center;
}

#about-p1{
    width: 75%;
    margin-right: 2px;
    float: left;
    background: #5f6769;
    padding: 3px;
    color: #fff;
    box-sizing: border-box;
}

#about-p2{
    width: 24%;
    float: right;
    background: #3c4245;
    padding: 3px;
    color: #fff;
    box-sizing: border-box;
}

#main-footer{
    text-align: center;
    background: #3c4245;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
}

.card-button{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-button button{
    border-radius: 2%;
}

.card img{
    border-radius: 2%;
}

.card-body{
    overflow: hidden;    
}

.card{
    margin-bottom: 15px;
    border-radius: 2%;
}

.card-title{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}